<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://bootstraptema.ru/snippets/effect/2017/ihover9/ihover.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
     .navbar-brand {
          position: relative;
          z-index: 2;
     }

     .navbar-nav.navbar-right .btn {
          position: relative;
          z-index: 2;
          padding: 4px 20px;
          margin: 10px auto;
     }

     .navbar .navbar-collapse {
          position: relative;
     }

     .navbar .nav-collapse {
          padding-left: 100px;
     }

     .navbar.navbar-default .nav-collapse {
          background-color: #f8f8f8;
     }

     .navbar.navbar-inverse .nav-collapse {
          background-color: #222;
     }

     .btn.btn-circle {
          border-radius: 50px;
     }

     .btn.btn-outline {
          background-color: transparent;
     }

     table {
          width: 75%;
          table-layout: fixed;
          /* Ширина таблицы */
     }

     .navbar-vertical-left {
          position: absolute;
          left: 2;
          top: 62;
          width: 100%;
          width: 265px;
          overflow: hidden;
          border: none;
          border-radius: 0;
          margin: 0;
     }

     .navbar-vertical-left ul.navbar-nav {
          width: 400%;
          height: 100%;
          display: table;
          margin: 0;
     }

     .navbar-vertical-left ul.navbar-nav:before,
     .navbar-vertical-left ul.navbar-nav:after {
          display: none;
     }


     .navbar-vertical-left ul.navbar-nav>li {
          display: table-row;
          float: none;
     }

     .navbar-vertical-left ul.navbar-nav>li>a {
          display: table-cell;
          vertical-align: middle;
     }

     .navbar-vertical-left ul.navbar-nav>li>a>i.fa {
          margin-right: 20px;
     }

     /* Цвета */

     .navbar-vertical-left {
          background: #ffffff;
          color: #35ce96;
          ;
     }

     .navbar-vertical-left ul.navbar-nav>li>a {
          color: #35ce96;
     }

     .navbar-vertical-left ul.navbar-nav>li>a.one:hover,
     .navbar-vertical-left ul.navbar-nav>li>a.one:active {
          background: #f8f8f8;
     }

     .navbar-vertical-left ul.navbar-nav>li>a.two:hover,
     .navbar-vertical-left ul.navbar-nav>li>a.two:active {
          background: #f8f8f8;
     }

     .navbar-vertical-left ul.navbar-nav>li>a.tree:hover,
     .navbar-vertical-left ul.navbar-nav>li>a.tree:active {
          background: #f8f8f8;
     }

     .navbar-vertical-left ul.navbar-nav>li>a.for:hover,
     .navbar-vertical-left ul.navbar-nav>li>a.for:active {
          background: #f8f8f8;
     }

     .navbar-vertical-left ul.navbar-nav>li>a.five:hover,
     .navbar-vertical-left ul.navbar-nav>li>a.five:active {
          background: #f8f8f8;
     }

     .navbar-vertical-left ul.navbar-nav>li>a.six:hover,
     .navbar-vertical-left ul.navbar-nav>li>a.six:active {
          background: #f8f8f8;
     }

     .navbar-vertical-left ul.navbar-nav>li>a.selected {
          background: #f8f8f8;
     }

     /* Анимация */

     .navbar-vertical-left {
          -webkit-transition: -webkit-transform .3s;
          -moz-transition: -moz-transform .3s;
          transition: transform .3s;

          -webkit-transform: translateX(-220px);
          -moz-transform: translateX(-220px);
          transform: translateX(-220px);
     }

     .navbar-vertical-left:hover {
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
     }

     .navbar-vertical-left ul.navbar-nav {
          -webkit-transition: -webkit-transform .3s;
          -moz-transition: -moz-transform .3s;
          transition: transform .3s;

          -webkit-transform: translateX(220px);
          -moz-transform: translateX(220px);
          transform: translateX(220px);
     }

     .navbar-vertical-left:hover ul.navbar-nav {
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
     }

     .info h4 {

          margin-left: 280px;
          margin-right: 170px;
          font-size: 20px;
          padding-top: 10px;
     }

     .info h3 {
          margin-left: 230px;
          margin-right: 170px;
          font-size: 19px;
          padding-top: auto;
     }

     .info {
          margin-left: 280px;

     }

     /* Изменения для разрешений */

     @media(max-width: 768px) {
          .navbar-vertical-left {
               position: fixed;
               top: auto;
               bottom: 0;
               height: auto;
               width: 100%;
          }

          .navbar-vertical-left,
          .navbar-vertical-left ul.navbar-nav {
               -webkit-transition: none;
               -moz-transition: none;
               transition: none;
               -webkit-transform: none;
               -moz-transform: none;
               transform: none;
          }

          .navbar-vertical-left ul.navbar-nav>li {
               display: table-cell;
          }


          .navbar-vertical-left ul.navbar-nav>li>a>i.fa {
               margin: 0;
          }

          .navbar-vertical-left ul.navbar-nav>li>a>span {
               display: none;
          }
     }
</style>
<nav class="navbar navbar-default">
     <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
               </button>
               <div class="navbar-header">
                    <div class="img"><img src="САГР2.jpg" alt="" width="60" height="60" /></div>
               </div>
               <a class="navbar-brand" href="ведениегериатрическойкарты.html"><strong><big>Модуль "Ведение
                              гериатрических карт"</big></strong></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-2">
               <ul class="nav navbar-nav navbar-right">
                    <li>
                         <a class="btn btn-default btn-outline btn-circle" data-toggle="collapse" href="#nav-collapse2"
                              aria-expanded="false" aria-controls="nav-collapse2">Войти</a>
                    </li>
               </ul>
               <div class="collapse nav navbar-nav nav-collapse" id="nav-collapse2">
                    <form class="navbar-form navbar-right form-inline" role="form">
                         <div class="form-group">
                              <label class="sr-only" for="Email">Email</label>
                              <input type="email" class="form-control" id="Email" placeholder="Email" autofocus
                                   required />
                         </div>
                         <div class="form-group">
                              <label class="sr-only" for="Password">Password</label>
                              <input type="password" class="form-control" id="Password" placeholder="Password"
                                   required />
                         </div>

                    </form>
               </div>
          </div><!-- /.navbar-collapse -->
     </div><!-- /.container -->
</nav>
<div class="container">

     <div class="row">
          <nav class="navbar navbar-vertical-left">
               <ul class="nav navbar-nav">
                    <li>
                         <a href="карта.html" class="one">
                              <i class="fa fa-fw fa-lg fa-home"> </i>
                              <span>На главную</span>
                         </a>
                    </li>
                    <li>
                         <a href="архив.html" class="two">
                              <i class="fa fa-fw fa-lg fa-archive"></i>
                              <span>Архив карт</span>
                         </a>
                    </li>
                    <li>
                         <a href="общиесведения.html" class="two">
                              <i class="fa fa-fw fa-lg fa-medkit"></i>
                              <span>Общие сведения</span>
                         </a>
                    </li>
                    <li>
                         <a href="хронзаболевания.html" class="tree">
                              <i class="fa fa-fw fa-lg fa-heartbeat"></i>
                              <span>Хронические заболевания</span>
                         </a>
                    </li>
                    <li>
                         <a href="лекарственнаятерапия.html" class="for">
                              <i class="fa fa-fw fa-lg fa-stethoscope"></i>
                              <span>Лекарственная терапия</span>
                         </a>
                    </li>
                    <li>
                         <a href="лабисследования.html" class="five">
                              <i class="fa fa-fw fa-lg fa-hospital-o"></i>
                              <span>Лабораторные исследования</span>
                         </a>
                    </li>
                    <li>
                         <a href="динамометрия.html" class="five">
                              <i class="fa fa-fw fa-lg fa-plus-square"></i>
                              <span>Результаты динамометрии</span>
                         </a>
                    </li>
                    <li>
                         <a href="шкаладепрессии.html" class="five">
                              <i class="fa fa-fw fa-lg fa-line-chart"></i>
                              <span>Шкала депрессии</span>
                         </a>
                    </li>
                    <li>
                         <a href="индексбартел.html" class="five">
                              <i class="fa fa-fw fa-lg fa-bicycle"></i>
                              <span>Индекс Бартел</span>
                         </a>
                    </li>
                    <li>
                         <a href="тестчасов.html" class="five">
                              <i class="fa fa-fw fa-lg fa-clock-o "></i>
                              <span>Тест часов</span>
                         </a>
                    </li>
                    <li>
                         <a href="заключение.html" class="six">
                              <i class="fa fa-fw fa-lg fa-pencil-square-o"></i>
                              <span>Заключение гериатра</span>
                         </a>
                    </li>
                    <li>
                         <a href="#" class="six">
                              <i class="fa fa-fw fa-lg fa-cog"></i>
                              <span>Настройки</span>
                         </a>
                    </li>
               </ul>
          </nav>
     </div>
</div>
<div class="info">

     <div class="form-group row">
          <label class="col-sm-1 col-form-label">Шифр пациента</label>
          <div class="col-sm-1">
               <input type="text" id="price" required class="form-control">
          </div>
     </div>
     <table>
          <tr>
               <td colspan="2" height="30" class="trans">
                    <h3>Результаты лабораторных исследований</h3>
          </tr>
          <tr>
               <td>&nbsp;
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Глюкоза</label>г/л
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Общий белок</label>г/л
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Билирубин общий</label>г/л
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Креатинин</label>мкмоль/л
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Калий</label>
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Натрий</label>
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Триглицериды</label>ммоль/л
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Холестерин общий</label>ммоль/л
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
               </td>
               <td>

                    <div class="form-group row">
                         <label class="col-sm-4 col-form-label">Комментарии</label>
                         <div class="col-sm-7">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>


                    <div class="form-group row">
                         <label class="col-sm-4 col-form-label">ФИО лица, заполнившего данные</label>
                         <div class="col-sm-7">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-4 col-form-label">Дата заполнения</label>
                         <div class="col-sm-7">
                              <input type="date" class="form-control">
                         </div>
                    </div>

               </td>
          </tr>
          <tr>
               <td colspan="2" height="30" class="trans">
                    <h3>Общий клинический анализ крови + СОЭ</h3>
          </tr>
          <tr>
               <td>&nbsp;
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Лейкоциты</label>г/л
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Эритроциты</label>10<sup>12</sup>/л
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Гемоглобин</label>гр/л
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Гематокрит</label>мкмоль/л
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> Тромбоциты</label>тыс./мкл
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-6 col-form-label"> СОЭ</label>мм/ч
                         <div class="col-sm-3">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>


               </td>
               <td>

                    <div class="form-group row">
                         <label class="col-sm-4 col-form-label">Комментарии</label>
                         <div class="col-sm-7">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>


                    <div class="form-group row">
                         <label class="col-sm-4 col-form-label">ФИО лица, заполнившего данные</label>
                         <div class="col-sm-7">
                              <input type="text" id="price" required class="form-control">
                         </div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-4 col-form-label">Дата заполнения</label>
                         <div class="col-sm-7">
                              <input type="date" class="form-control">
                         </div>
                    </div>

               </td>
          </tr>
     </table>
     <td class="trans">
          <div class="col-sm-3">
               <button class="btn btn-block btn-success">Сохранить</button>
          </div>
          <div class="col-sm-5"> <a href="динамометрия.html" class="tree">
                    <button class="btn btn-block btn-info">Перейти к заполнению "Результаты динамометрии"</button></a>
          </div>
     </td>
</div>